.App {
  height: 100%;
  width: 100%;
  display: block;
}

.centered {
  font-size: 40px;
  font-family: 'Merriweather', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}